/* ### GENERAL ############################################################# */

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: #263238;
  text-decoration: none;
  transition: color 0.5s;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* ### MAIN ################################################################ */

main .main-image,
main .main-image img,
main img {
  width: 100%;
  height: auto;
}

main .image {
  margin-bottom: 25px;
}

main .image p {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2.6px;
  font-size: 13px;
  padding: 10px 0;
  text-align: center;
}

/* ### RESPONSIVE ########################################################## */

/* ### For mobile phones: ### */

/* ### For tablets: ### */

@media only screen and (min-width: 600px) {

}

/* ### For small laptop: ### */

@media only screen and (min-width: 1024px) {
  main .wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  main .image {
    float: left;
    width: 22%;
    margin-right: 4%;
  }

  main .image:nth-child(4n) {
    margin-right: 0;
  }
}

/* ### For desktop: ### */

@media only screen and (min-width: 1440px) {
  main .wrapper {
    max-width: 1200px;
  }

  main {
    padding: 70px 0;
  }

}
